<label>title
  <input type="text" name="post[title]">
</label>


<label>url
  <input type="text" name="post[url]">
</label>

<label>content
  <input type="text" name="post[content]">
</label>

<input type="hidden" name="post[sub_ids][]" value="">

<div>Subs
  <% post_sub_ids = @post.sub_ids %>
  <ul>
    <% Sub.all.each do |sub| %>
      <li>
        <label> <%= sub.title %>
          <input
            type="checkbox"
            name="post[sub_ids][]"
            value=<%= sub.id %>
            <%= post_sub_ids.include?(sub.id) ? "checked" : "" %>
          >
        </label>
      </li>
    <% end %>
  </ul>
</div>