<h1>Sign Up</h1>

<div>
  <h4><%= flash[:errors] %></h4>
</div>

<form action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Username
    <input type="text" name="user[username]" value="<%= @user.username %>">
  </label>

  <br/>

  <label>Password
    <input type="password" name="user[password]">
  </label>

  <br/>

  <input type="submit" value="Sign Up">
</form>