.main-content {
  display: grid;
  grid-template-columns: 66.67% 33.33%;
	margin-top: 10px;

	header {
		font-weight: bold;
	}

}


.main-story {
  display: grid;
  grid-template-columns: 33.33% 66.67%;
	margin-top: 10px;
  margin-right: 20px;

	.col-1-3 {
    margin-right: 20px;
	}

	ul {
		list-style: initial;
		padding-left: 15px;

		li{
			margin: 10px 0;
			line-height: 1.5;
		}
	}
	
	border-bottom: 1px solid $light-gray;
	box-shadow: 0 8px 3px -3px $lightest-gray;
}

.byline {
	color: $gray;
	margin: 4px 1px;
	font-family: $serif;
	font-weight: 400;
	font-size: 11px;
}

/* 
	Comments Link with Blue Square
*/

.comments {
	color: #326891;
	font-family: $sans-serif;
	font-size: 10px;
	vertical-align: bottom;
}

.outer{
  width: 100%;

  .inner {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    box-sizing: border-box;

    iframe {
      margin-bottom: 10px;
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}

article {
	margin: 10px 0;

	hr {
		width: 50%;
		color: $gray;
	}
}

.kicker {
	text-transform: uppercase;
	font-size: 10px;
}

.opinion {
	margin-top: 10px;
  padding-right: 20px;
  display: grid;
	height: fit-content;
  grid-template-rows: 25px auto auto;
  grid-template-columns: 50% 50%;
  
  h2 {
    grid-column-start: span 2;
  }

	.col-1-2:first-of-type {
		margin-right: 20px;
	}
	
	a:first-child{
    font-weight: 700;
	}

	.opinion-sign-up {
    grid-column-start: span 2
		center{
			margin-bottom: 20px;
		}
	}

	figure {
		margin: 0;
		overflow-x: scroll;
		
		.opinion-image {
			width: 100%;
			height: 150px;
			object-fit: cover;
		}
	}

	.opinion-sign-up{
		margin-top: 10px;
		grid-column-start: span 2;
		font-family: $sans-serif;
		color: #6f6f6f;

		.sign-up-field{
			display: flex;
			
			button{
				border-radius: 0 3px 3px 0;
				width: 55px;
			}
			input {
				border: 1px solid $gray;
				border-right: none;
				width: calc(100% - 55px);
				padding: 3px 7px;
				background: white;
			}
		}
		p {
			text-align: center;
			padding: 6px;
			font-size: .625rem;
		}
	}
	
	border-bottom: 1px solid $light-gray;
	box-shadow: 0 8px 3px -3px $lightest-gray;
}

.opinions-list {
	padding-left: 15px;
	font-weight: bold;
	font-size: 10px;

	li {
    list-style: initial;
		margin: 5px 0;
	}
}



@media all and (max-width: 1000px) {
  .opinion, .main-story, .main-content{
    width: 100%;
    display: block;
  }
}