.main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  align-items: center;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav {

  > ul {
    > li {
      font-family: $sans-serif;
      text-transform: uppercase;
      font-size: 0.6875rem;
      cursor: pointer;
      margin-left: 3px;
      padding: 7px 9px;
      border-radius: 3px;
    }
  }

  span {
    margin-left: 7px;
  }
}

.right-nav  {

  > ul {

    > li {
      margin-left: 3px;
    }

    > li:last-of-type {
      padding: 7px 9px;
      border-radius: 3px;
    }
  }
  
  i {

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;
}
