#sections-sidebar.expand{
  left: 0;
  transition: left 0.25s;
}

nav#sections-sidebar {
  font-family: $sans-serif;
  font-size: 0.6875rem;
  position: absolute;
  display: flex;
  flex-direction: column;

  transition: left 0.25s;
  left: -40%;
  top: 0;
  width: 30%;
  height: 100%;
  background: #ffffff;
  z-index: 1;
  border-right: 1px solid $light-gray;
  padding: 20px;

  .sub-category {
    &::before{
      content: '';
      width: 24px;
      height: 24px;
      border: 1px solid $light-gray;
      border-bottom: none;
      border-right: none;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: white;
      transform: translate(-13px, 24px) rotateZ(-45deg);
    }
    
    width: 50%;
    background: #ffffff;
    z-index: 2;
    border: 1px solid $light-gray;
    padding: 5px 20px;
    box-shadow: 0 0 3px 0 $lightest-gray;
  }

  p {
    padding: 10px 4px;
    color: $gray;
  }

  ul {
    display: block;
    font-weight: 700;
    font-size: .8rem;
    text-transform: none;

    >li {
      display: block;
      position:relative;

      >a {
        display: block;
        padding: 10px 4px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;

        i{
          float: right;
          color: $light-gray;
        }

      }
      
      &:hover{
        background-color: $lightest-blue;
        text-decoration: none;
        
        >.sub-category{
          display: block;
          top: -30px;
          left: 230px;
        }
      }

      >.sub-category {
        position: absolute;
        display: none;
      }

    }
  }
}