<div class="masthead">
  <div class="language-nav">
    <ul>
      <li class="active-language">
        CSS
      </li>
      <li>
        <a href="#">HTML</a>
      </li>
      <li>
        <a href="#">Javascript</a>
      </li>
      <li>
        <a href="#">Ruby</a>
      </li>
    </ul>
  </div>
  <div class="logo">
    <img src="assets/AA_Times_Logo.png" alt="AA Times">
  </div>
  <div>
    <ul class="masthead-links">
      <li>
        Thursday, March 4, 2021
      <li>
        <a href="#">
          <i class="fa fa-newspaper"></i>Today’s Paper
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-video"></i>Video
        </a>
      </li>
      <li>
        <button>
          77°F
        </button>
      </li>
      <li>
        <button>
          AAO <strong>-100.00%</strong>
        </button>
      </li>
    </ul>
  </div>
</div>
