<label>title
  <input type="text" name="sub[title]" value="<%= sub.title %>">
</label>

<label>description
  <input type="text" name="sub[description]" value="<%= sub.description %>">
</label>

<label>moderator
  
</label>