<form action= "<%=sub_url(@sub)%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <%= render 'sub_template', sub: @sub %>

  <input type="submit" value="Edit Sub">
</form>