<h1>New Sub</h1>

<div>
  <h4><%= flash[:errors] %></h4>
</div>

<form action="<%= user_subs_url(current_user.id) %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <%= render 'sub_template', sub: @sub %>

  <input type="submit" value="New Sub">
</form>